# ENV settings
NODE_ENV=development
PORT=3000

# DB connect
MONGO_URI=mongodb+srv://milen_georgiev:0p2L2HWnhujhms0x@cluster0-q2grh.mongodb.net/test?retryWrites=true&w=majority

# File and storage
FILE_UPLOAD_PATH = ./public/uploads
MAX_FILE_UPLOAD = 1000000

# JWT 
JWT_SECRET=
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# SMTP settings